.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.header a {
    text-decoration: none;
    padding: 2px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 8px;
}
.header #back{
    left: 10px;
    color: #fff;
}
.header a img {
    cursor: pointer;
    width: 24px;  
    height: px; 
}
#back{
    right: 99%;
}